@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #111;
}

/* Example of experimental animation */
.task-card:hover {
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
  }
  .recommend-card {
    background: linear-gradient(to right, #fcd3af, #f9eadb);
  }
  .grid-item:nth-child(odd) {
    margin-left: 20px;
  }
  
  .grid-item:nth-child(even) {
    margin-right: 20px;
  }

  /* global.css */
.task-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  /* Apply varying row spans to the task cards */
  .task-card {
    grid-row: span 1; /* Default row span for each task card */
  }
  
  .task-card.row-span-2 {
    grid-row: span 2; /* Row span for task cards with rowSpan: 2 */
  }
  
  .task-card.row-span-3 {
    grid-row: span 3; /* Row span for task cards with rowSpan: 3 */
  }
  